jsonResultsFromWebservice/jsonResultsFromWebservice/Service References/getResultsFromWebservice/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="queryToReturnResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="queryToReturnResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryToReturnResultsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="queryToReturnResultsWithSequence">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="queryToReturnResultsWithSequenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryToReturnResultsWithSequenceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>